body {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: "Kantumuruy Pro", sans-serif;
  font-display: swap;
}

h1 {
  font-size: 5vw;
  font-weight: 900;
}

h2 {
  font-size: 4vw;
  font-weight: 800;
}

h3 {
  font-size: 3vw;
  font-weight: 800;
}

h4 {
  font-size: 2.5vw;
  font-weight: 800;
}

h5 {
  font-size: 2vw;
  font-weight: 800;
}

h6 {
  font-size: 1.5vw;
  font-weight: 800;
}

p {
  font-size: 1vw;
  font-weight: 700;
}

.icon_circle {
  width: 6vw;
  height: 6vh;
}

.custom_card {
  width: 12vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  border-radius: 25%;
}

.custom_card_circle {
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Mobile Portrait (small screens) */
/* @media (max-width: 480px) {
} */

/* Mobile Landscape / Tablet Portrait */
/* @media (min-width: 481px) and (max-width: 767px) {
} */

/* Tablet Landscape / Small Laptop */
/* @media (min-width: 768px) and (max-width: 1023px) {
} */

/* Laptop / Small Desktop */
/* @media (min-width: 1024px) and (max-width: 1279px) {
} */

/* Medium Desktop */
/* @media (min-width: 1280px) and (max-width: 1440px) {
} */

/* Large Desktop */
/* @media (min-width: 1440px) {
} */

/* Extra Large Screens */
/* @media (min-width: 1920px) {
} */
